:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --dark-icon: #222222;
  --pursian-blue: #153243;
  --indigo-die: #284b63;
  --alabaster: #eef0eb;
  --ivory: #f4f9e9;
  --ash-gray: #b4b8ab;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--ash-gray);
  background: var(--dark-icon);
}

a {
  color: inherit;
  text-decoration: none;
}
